body {
  height: 600px;
  // margin: 20px 20px 20px 20px !important;
  width: 100%;
}

$pink: #f75584;
body {
  background-color: white !important;
}

.title {
  margin-top: 200px;
  color: $pink;
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  font-size: 3em;
  font-weight: bold;
  color: #04BFBF;
}
.entry-headers {
  color: $pink;
  z-index: 1;
    font-size: 2em;

}

.entry-text {
  color: #2e0259;
  font-size: 1.5em;
}
