$pink: #f75584;
body {
  background-color: white !important;
}

.title {
  margin-top: 200px;
  color: $pink;
  text-align: center;
}
.entry-headers {
  color: $pink;
  z-index: 1;
}

.entry-text {
  color: #2e0259;
}
