.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2E0259;
    height: 7rem;
    z-index: 5;
}

.toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

img.logo {
    height: 90px;
    align-items: center;
}

a.toolbar_logo {
    width: 5;
}

.spacer {
    flex: 1;
}

.gear {
    color: #04BFBF;
    font-size: 50px;
    cursor: pointer;
}

.toolbar_navigation-items li {
    color: white;
    cursor: pointer;
    padding: 0 0.5rem;
}