.id-input {
  visibility: hidden;
}
.edit-details {
  margin-top: 150px;
  width: 300px;
  background-color: white;
  height: 500px;
  padding: 10px;
  margin: 10px;
}
.editDetailInput {
  height: 250px !important;
}