.homebar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .homelogo {
    padding: 5px;
    height: 80px;
    width: 80px;
  }
  div {
    padding: 10px;
  }
}

.login {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 200px;
  Button {
    margin-right: 10px;
    height: 40px;
    width: 80px;
  }
  .github {
    padding: 5px;
    height: 80px;
    width: 80px;
  }
  .google {
    padding: 5px;
    height: 125px;
    width: 125px;
  }
}