.listContainer {
  position: relative;
  background-color: #2e0259;
  border: none;
}

.emailProfileList {
      min-height: 0px;
  max-height: 500px;
}

.deleteProfileButton {
    color: #F75584;
    height: 25px;
  width: 25px;
  background-color: #2e0259 ;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  font-size: 20;

}